html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}
footer{
    margin-top: 30px;
}
nav a{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
nav a:hover{
    color: gray;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 18px;
}
nav{
    background-color: rgb(75, 75, 255);
    padding: 10px;
    display: flex;
    justify-content: center;
}
img{
    width: 100%;
    object-fit: cover;
}
h1{
    text-align: center;
    color: darkblue;
    font-size: 50px;
    line-height: 40px;
}
h2{
    text-align: center;
}
.main-img{
    justify-content: center;
    height: 400px;
    position: relative;
    z-index: -3;
}
.content{
    margin: auto;
    width: 90%;
    max-width: 800px;
}
.card img{
    width: 200px;
    height: 150px;
}
.card{
    display: grid;
    grid-template-columns: 200px 300px;
    gap: 5px;
    margin: 5px;
}

.card-title{
    font-size: 25px;
    font-weight: bold;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
}
ul{
    list-style-type: none;
    padding: 0;
    
}
.sidebar{
    position: sticky;
    width: 250px;
    background-color:rgb(75, 75, 255);
    top: 50px;
    left: 10px;
    z-index: 1000;
    padding: 10px;
    height: 500px;
}
.sidebar li a{
    color: white;
    font-size: 18px;
    line-height: 30px;
}
.sidebar-content{
    display: flex;
}

hr{
    height: 50px;
    background-color:rgb(75, 75, 255)
}




@media (max-width: 650px) {
    .sidebar{
        display: none;
    }
    

}