{{ define "main" }}
{{ .Content }}
{{- if .IsHome }} 
<img class="main-img" src="/main-imgs/washington-DC.jpg">
<div class="sidebar-content">
    {{ partial "sidebar.html" . }}
    <div class="container">
    {{ range .Site.RegularPages }}
            <a href="{{ .Permalink }}"><div class="card">
                <div>
                {{ if .Params.featured_image }}
                    <img src="{{ .Params.featured_image }}">
                {{ else }}
                    <img src="/images/default.webp">  
                {{ end }}
                </div>
                <div>
                    <a class="card-title" href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ if .Params.short_summary }}
                    <a href="{{ .Permalink }}">{{ .Params.short_summary }}</a>
                    {{else}}
                    <p></p>
                    {{end}}
                </div>
          </div></a>
    {{ end }}
    </div>
</div>

       
{{ else }}
    <img class="main-img" src="/main-imgs/washington-DC.jpg">
    <h2>{{ .Title }}</h2>
    
    <div class="sidebar-content">
        {{ partial "sidebar.html" . }}
        <div class="container">
        {{ range .Pages }}
            <a href="{{ .Permalink }}"><div class="card">
                <div>
                {{ if .Params.featured_image }}
                    <img src="{{ .Params.featured_image }}">
                {{ else }}
                    <img src="/images/default.webp">  
                {{ end }}
                </div>
                <div>
                    <a class="card-title" href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ if .Params.short_summary }}
                    <a href="{{ .Permalink }}">{{ .Params.short_summary }}</a>
                    {{else}}
                    <p></p>
                    {{end}}
                </div>
          </div></a>
        {{ end }}
        </div>
    </div>
{{ end }}
{{ end }}
